<html>
<head> 
<title>WHAT'S MY EXCUSE?</title>
<link rel="stylesheet" type="type/css" href="css/style.css">
</head> 


  <body>
    <h1>WHAT IS YOUR EXCUSE?</h1>
     <div class ="custom">
       <h1 class="text"><a href= "/custom">CUSTOM</a></h1>
    </div> 
   
      <div class="random">
        <h1 class="text"><a href="/random">RANDOM</a></h1> 
      </div>
 </body>
</html>